<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Reset your password</title>
  </head>
  <body>
    <p>Hello,</p>
    <p>We received a request to reset your password. Click the link below to set a new password. This link will expire shortly.</p>

    <p>
      <a href="{{FRONTEND_URL}}/reset-password?token={{TOKEN}}">Reset your password</a>
    </p>

    <p>If you didn't request this, you can safely ignore this email.</p>

    <p>Thanks,<br/>The Team</p>
  </body>
</html>
